h1 {
  text-align: center;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-break {
  border-top: 1px solid #aaaaaa;
  margin-top: 35px;
  margin-left: 190px;
  width: 75%;
}

button {
  margin-left: 15px;
}

.item-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-card {
  border: 1px solid black;
  height: 100px;
  margin: 10px;
  width: 350px;
}
